<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- changes from the defaults -->
        <setting name="lazyLoadingEnabled" value="false" />
    </settings>

    <typeAliases>
        <typeAlias alias="document" type="com.xgq.model.Document"/>
    </typeAliases>

    <mappers>
        <!--分页查询配置，很重要-->
        <!--<mapper resource="com/xgq/common/OraclePagination.xml" />-->
        <mapper resource="com/xgq/common/MysqlPagination.xml" />
    </mappers>
</configuration>
